.layout {
    background-color: white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    text-align: center;
    padding: 50px 1em 1em 2em;
}

.layout {
    flex: 1 1 auto;
}



@media only screen and (max-width: 700px) and (min-width: 415px) {
    content {
        display: flex;
        flex: 1 1 auto;
        min-height: 80vh;
        flex-wrap: wrap;
    }
}